<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/guidechimp@2/dist/guidechimp.min.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@2/dist/guidechimp.min.js"></script>

<script>
    var searchParams = new URLSearchParams(window.location.search);

    var tourGuideChimp = [
        {
            element: '[data-id="id-9"]',
            title: 'Node-Locked',
            description: 'Software is licensed for use only on one or more <i>named computer systems</i>. Usually, CPU serial number verification is used to enforce this type of license.',
            buttons: [
                {
                    title: 'Learn More',
                    class: 'NL_button button_main NL_dark_btn NL_wide_btn',
                    onClick: function () {
                        window.location.href = 'https://netlicensing.io/wiki/node-locked';
                    }
                }
            ]
        }
    ];

    if (searchParams.get('guidechimp') === 'on' && searchParams.get('tour') === 'guidechimp') {
        var guideChimp = new GuideChimp(tourGuideChimp);
        setTimeout(function () {
            guideChimp.start();
        }, 1000);
    }

</script>

<style>
    .gc-tooltip {
        max-width: 450px;
    }
</style>
